{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Is Max a trap?</title>
	<link rel="stylesheet" type="text/css" href='{% static "style/myStyle.css" %}'>
</head>
<body>
	<p>Интерфейс выгрузки фотки на сервак</p>
	<form method="POST" enctype="multipart/form-data" action='{% url "api:uploadPhoto" %}'>
		{% csrf_token %}
		<input type="file" name="myFile">
		<input type="submit" name="submitBtn">
	</form>

	<script type="text/javascript" src='{% static "js/myScript.js" %}'></script>
</body>
</html>